# this value is required for the gemma branch
GEMINI_API_KEY=
# this value is required for the openrouter branch
OPENROUTER_API_KEY=
# this value is required for web search if your Chrome executable is not in the default location
CHROME_PATH=